Repository f3rno64/node-ts-lib-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --list-different, markdownlint

.lintstagedrc:

{
  "*.{json,js,jsx,ts,tsx}": ["eslint", "prettier --list-different"],
  "README.md": ["markdownlint"]
}

chore(npm): update npmignore
  .npmignore
Due: none

feat: flesh out readme, add info on all new features
  README.md
Due: markdownlint

feat: add serve commands for docs and coverage
  package.json
  pnpm-lock.yaml
Due: eslint, prettier --list-different

fix: add docs to eslintignore
  .eslintignore
Due: none

fix: add docs to prettierignore
  .prettierignore
Due: none

chore(release): 0.0.3
  CHANGELOG.md
  docs/CHANGELOG.md
  docs/assets/main.js
  docs/assets/style.css
  docs/index.html
  docs/modules.html
  docs/variables/default.html
  package.json
Due: eslint, prettier --list-different

ci(publish): remove npm publish workflow
  .github/workflows/publish.yml
Due: none

fix(README): rm npm badges as it is not published, rm name quote at top of README
  README.md
Due: markdownlint

chore(release): 0.0.4
  CHANGELOG.md
  docs/CHANGELOG.md
  docs/index.html
  docs/modules.html
  docs/variables/default.html
  package.json
Due: eslint, prettier --list-different

chore: add private flag to manifest
  package.json
Due: eslint, prettier --list-different

feat: add yamlfmt and yamllint to lint-staged hooks and manifest scripts
  .lintstagedrc
  .npmignore
  .yamlfmt.yml
  .yamllint.yml
  package.json
Due: eslint, prettier --list-different

refactor: only run build in pre-release script and stage docs
  package.json
Due: eslint, prettier --list-different

chore(release): 0.0.5
  CHANGELOG.md
  docs/CHANGELOG.md
  docs/index.html
  docs/modules.html
  docs/variables/default.html
  package.json
Due: eslint, prettier --list-different

fix: minor typos and linter warnings in README.md
  README.md
Due: markdownlint

chore(release): 0.0.6
  CHANGELOG.md
  docs/CHANGELOG.md
  docs/index.html
  docs/modules.html
  docs/variables/default.html
  package.json
Due: eslint, prettier --list-different

refactor: use pnpm to execute commitlint in commit-msg husky hook
  .husky/commit-msg
Due: none

feat: add eslint-plugin-security
  .eslintrc.json
  package.json
  pnpm-lock.yaml
Due: eslint, prettier --list-different

chore(release): 0.0.7
  CHANGELOG.md
  docs/CHANGELOG.md
  docs/index.html
  docs/modules.html
  docs/variables/default.html
  package.json
Due: eslint, prettier --list-different

fix: use pnpm to exec lint-staged in pre-commit hook
  .husky/pre-commit
Due: none

chore(release): 0.0.8
  CHANGELOG.md
  docs/CHANGELOG.md
  docs/index.html
  docs/modules.html
  docs/variables/default.html
  package.json
Due: eslint, prettier --list-different

feat: switch to vitest
  .eslintrc.json
  docs/CHANGELOG.md
  docs/index.html
  docs/modules.html
  docs/variables/default.html
  package.json
  pnpm-lock.yaml
  src/tests/index.ts
Due: eslint, prettier --list-different
